html
{
	background-color:#DEFFED;
	font-family: "Arial", sans-serif, "Times New Roman", serif;
}

h2
{
	color:#224466;
}

h2:after
{
	border-bottom: 0.1em solid #223344;
    display: block;
    content: "";
	margin-top: 0.4em;
}

p
{
	padding-left: 3em;
	padding-right: 2em;
}

p, ul
{
	width: 35%;
	float: left;
}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}